Importing dependencies

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [ ]:
# Loading the dataset to a pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
# fist 5 rows of the dataset
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [ ]:
credit_card_data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
41677  40781  1.059978  0.041244  0.382701  ...  0.022556  0.030893   69.12    0.0
41678  40781 -0.447381  1.134089  0.534095  ... -0.058317 -0.085094    1.00    0.0
41679  40782  1.133168  0.406826  0.956032  ...  0.010912  0.018509   10.65    0.0
41680  40783 -0.536190  1.355132  0.064049  ... -0.367509 -0.399716    1.00    0.0
41681  40783 -0.498757  0.332449  1.917148  ...  0.380606  0.226502   26.59    0.0

[5 rows x 31 columns]

In [ ]:
# dataset Informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41682 entries, 0 to 41681
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    41682 non-null  int64
 1   V1      41682 non-null  float64
 2   V2      41682 non-null  float64
 3   V3      41682 non-null  float64
 4   V4      41682 non-null  float64
 5   V5      41682 non-null  float64
 6   V6      41682 non-null  float64
 7   V7      41682 non-null  float64
 8   V8      41682 non-null  float64
 9   V9      41682 non-null  float64
 10  V10     41682 non-null  float64
 11  V11     41682 non-null  float64
 12  V12     41682 non-null  float64
 13  V13     41682 non-null  float64
 14  V14     41682 non-null  float64
 15  V15     41682 non-null  float64
 16  V16     41682 non-null  float64
 17  V17     41682 non-null  float64
 18  V18     41682 non-null  float64
 19  V19     41682 non-null  float64
 20  V20     41682 non-null  float64
 21  V21     41682 non-null  float64
 22  V22     41682 non-null  float64
 23  V23     41682 non-null  float64
 24  V24     41682 non-null  float64
 25  V25     41682 non-null  float64
 26  V26     41682 non-null  float64
 27  V27     41682 non-null  float64
 28  V28     41682 non-null  float64
 29  Amount  41682 non-null  float64
 30  Class   41682 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 10.2 MB

In [ ]:
# checking the number of missing valuues in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
credit_card_data.shape

(41682, 31)

In [ ]:
# drope the missing values
credit_card_data = credit_card_data.dropna(how='any')

# Re-check to make sure they are gone
print(credit_card_data.isnull().sum())

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
credit_card_data.shape

(41682, 31)

In [ ]:
# destribution of legit transactions and fraudulent transactions
credit_card_data['Class'].value_counts()

Class
0.0    41574
1.0      108
Name: count, dtype: int64

this dataset is highly unbalanced
0 --> Normal Transaction
1 --> Fraudulent Transaction

In [ ]:
#separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(41574, 31)
(108, 31)

In [ ]:
# statistical mesures of the data
legit.Amount.describe()

count    41574.000000
mean        89.092554
std        237.129967
min          0.000000
25%          7.550000
50%         24.000000
75%         80.000000
max       7879.420000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     108.000000
mean       93.512593
std       250.863273
min         0.000000
25%         1.000000
50%         2.320000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    26220.447082 -0.203702  0.021029  ...  0.005968  0.004583  89.092554
1.0    21414.990741 -7.454643  5.595067  ...  0.791559  0.112874  93.512593

[2 rows x 30 columns]

Under-Sampling
Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 108

In [ ]:
legit_sample = legit.sample(n=108)

In [ ]:
print(legit_sample.shape)

(108, 31)

In [ ]:
#Concatenating two DataFrames
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [ ]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
24818  33396  1.019458 -0.157857 -0.345949  ...  0.008374  0.029313  144.00    0.0
23853  32953  1.296815 -0.518508  0.348800  ...  0.005089  0.008846   14.00    0.0
15536  26929 -0.905372  1.328656  1.619568  ... -0.165782  0.232889    2.69    0.0
12004  20751 -0.333837  1.250884  1.437889  ...  0.219739  0.091659    0.89    0.0
34541  37717 -0.602465  1.298622  1.231384  ...  0.061035  0.105577   18.40    0.0

[5 rows x 31 columns]

In [ ]:
new_dataset.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
39183  39729 -0.964567 -1.643541 -0.187727  ... -0.308555 -0.164500  776.83    1.0
40085  40086  1.083693  1.179501 -1.346150  ...  0.096701  0.114972    1.00    1.0
40525  40276  1.159373  2.844795 -4.050680  ...  0.009979  0.160769    1.00    1.0
41395  40662 -4.446847 -0.014793 -5.126307  ...  0.492560  0.971834    1.00    1.0
41569  40742 -2.377533  0.520539 -8.094139  ...  0.500326  0.551760    1.00    1.0

[5 rows x 31 columns]

In [ ]:
new_dataset['Class'].value_counts()

Class
0.0    108
1.0    108
Name: count, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0.0    25845.731481 -0.114886  0.040445  ...  0.048035  0.007814  105.124722
1.0    21414.990741 -7.454643  5.595067  ...  0.791559  0.112874   93.512593

[2 rows x 30 columns]

Splitting the data into Features & Targets

In [ ]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [ ]:
print(X)

        Time        V1        V2  ...       V27       V28  Amount
24818  33396  1.019458 -0.157857  ...  0.008374  0.029313  144.00
23853  32953  1.296815 -0.518508  ...  0.005089  0.008846   14.00
15536  26929 -0.905372  1.328656  ... -0.165782  0.232889    2.69
12004  20751 -0.333837  1.250884  ...  0.219739  0.091659    0.89
34541  37717 -0.602465  1.298622  ...  0.061035  0.105577   18.40
...      ...       ...       ...  ...       ...       ...     ...
39183  39729 -0.964567 -1.643541  ... -0.308555 -0.164500  776.83
40085  40086  1.083693  1.179501  ...  0.096701  0.114972    1.00
40525  40276  1.159373  2.844795  ...  0.009979  0.160769    1.00
41395  40662 -4.446847 -0.014793  ...  0.492560  0.971834    1.00
41569  40742 -2.377533  0.520539  ...  0.500326  0.551760    1.00

[216 rows x 30 columns]

In [ ]:
print(Y)

24818    0.0
23853    0.0
15536    0.0
12004    0.0
34541    0.0
        ...
39183    1.0
40085    1.0
40525    1.0
41395    1.0
41569    1.0
Name: Class, Length: 216, dtype: float64

In [ ]:
#Split the data into Training data and Testing Data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(216, 30) (172, 30) (44, 30)

Model Training

Logistic Regression

In [ ]:
#2. Scale the data (This helps the model 'converge' much faster)
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# 3. Train the model with the scaled data
model = LogisticRegression(max_iter=2000)
model.fit(X_train_scaled, Y_train)

LogisticRegression(max_iter=2000)

Model Evaluation
Accuracy Score

In [ ]:
# accuracy on training data
X_train_prediction = model.predict(X_train_scaled)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9825581395348837

In [ ]:
# accuracy on test data
X_test_prediction = model.predict(X_test_scaled)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9318181818181818